@model BrightIdea

<div class="card mx-auto text-center mb-3" style="width: 25rem;">
  <div class="card-header">
    <h5 class="card-title">
        @Model.Author.FullName()
    </h5>
  </div>

<div class="card-body">
  <p class="card-text">
    @Model.Content
  </p>
  <p class="card-text">
    People who like this post:
  </p>
  <table class="table">
        <thead class="thead-dark">
            <th>Alias</th>
            <th>Name</th>
        </thead>
        <tbody>
            @foreach(var currentLiker in @Model.Likes){
            <tr>
                <td><a asp-action="AliasDetails" asp-controller="BrightIdea" asp-route-id="@Model.BrightIdeaId">@currentLiker.Liker.Alias</a></td>
                <td>@currentLiker.Liker.FullName()</td>
            </tr>
            }
        </tbody>
  </table>
</div>

<div class="card-footer">

    <a asp-controller="BrightIdea" asp-action="All" class="btn btn-info">
      Back
    </a>

    @if (ViewBag.Uid == Model.Author.UserId) {
      <a asp-controller="BrightIdea" asp-action="Delete" asp-route-id="@Model.BrightIdeaId" class="btn btn-danger">
        Delete
      </a>
    }
</div>
</div>

